[defaults]
  allow_override      = true                 # allows reuse of roles mutliple times in a playbook
  host_key_checking   = false
  # silences "discovered Python" warning; keeps auto-discovery
  interpreter_python  = auto_silent
  inventory           = ./data/inventory.yaml
  library             = ./library
  lookup_plugins      = ./plugins/lookup
  roles_path          = ./roles:./roles/rpi:./roles/device:./roles/users:./roles/security:./roles/network:./roles/packages:./roles/pki:./roles/dns:./roles/local:./roles/ui
  vault_password_file = ~/.ansibleVaultPWD
