[defaults]
  allow_override      = true                 # allows reuse of roles mutliple times in a playbook
  host_key_checking   = false
  inventory           = ./data/inventory.yaml
  library             = ./library
  roles_path          = ./roles
  vault_password_file = ~/.ansibleVaultPWD
