[defaults]
  allow_override      = true
  host_key_checking   = false
  inventory           = ./data/inventory.yaml
  library             = ./library
  roles_path          = ./roles
  vault_password_file = ~/.ansible_vault_pass
